<!-- views/navbar.ejs -->
<nav>
    <ul id="navbar-list">
      <li><a href="/">Home</a></li>
      <li><a href="/my-account">My Account</a></li>
      <li><a href="/recipes/new">Create a New Recipe</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
  